* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
fieldset {
    border:2px solid black;
    width:50vw;
    margin:1%;
    padding:1%;
}
div{
    padding:1%;
}
div:nth-of-type(2) input{
    margin-left: 15%;
}
div input {
    margin-left: 18%;
}
div:nth-of-type(6) select{
    margin-left:15%;
    padding:0.5%;
}
div:nth-of-type(7) select{
    margin-left: 5%;
    padding:2%;
}
button {
    padding:1%;
    margin: 2% 2% 2% 0;
}